################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HolaMundo/FileContentIndex/c65eb498-ce90-41cd-8053-faadf10b6c4d.vsidx
/.vs/HolaMundo/FileContentIndex/e4b2618f-9a3a-497b-a893-24dc99df7fd5.vsidx
/.vs/HolaMundo/FileContentIndex/f0a50513-928e-41f5-82f2-425346a13265.vsidx
